/*************************GENERAL STYLES*************************/

* {
	font-family: 'Coda', Monospace;
	box-sizing: border-box;
	line-height: 1.5;
}

html {
	background: #eee;
}

section {
	overflow: hidden;
	min-height: 100vh;
}

section h2 {
	text-align: center;
	color: slategrey;
	font-size: 3.125em;
	padding-top: 2em;
	padding-bottom: 1em;
}

footer {
	padding: 0.5em;
}

a:hover {
	text-decoration: none;
}


/*************************NAV BAR STYLES*************************/

.nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	display: flex;
	font-size: 1.2em;
	align-items: baseline;
	border: 1px solid #E7E7E7;
	background-color: #F8F8F8;
	height: 3.5em;
}

.fa-bars {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
	font-size: 1em;
	color: #eee;
	background: #333;
}

	.fa-bars:hover {
		background: #111;
	}

	.fa-bars:active {
		background: #666;
		color: #333;
	}

.nav-bar > ul > a:hover,
.nav-bar > ul > a:focus,
.nav-bar > a:hover,
.nav-bar > a:focus {
	text-decoration: none;
	color: #333;
}

.nav-bar ul {
	padding-left: 1em;
	margin: 0;
}

	.nav-bar a {
		color: #777;
	}

	.nav-section:hover,
	.nav-section:focus {
		background-color: #e7e7e7;
		color: #333;
		transition: 0.3s linear;
	}

.nav-item {
	display: inline-block;
	padding: 0.65em;
}

.nav-section {
	padding: 0.9em 0.8em;
}

#nav-title {
	font-size: 1.25em;
}

/* BLOG DROPDOWN */
.drop-btn {
	cursor: pointer;
	color: #777;
}

.dropdown {
	display: inline;
}

.blog-dropdown-items {
	display: none;
	text-align: center;
	position: absolute;
	background-color: #F8F8F8;
	z-index: 100;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	min-width: 200px;
}
	.blog-dropdown-items a {
		width: 100%;
		display: block;
		padding: 10px;
	}

	.blog-dropdown-items a:hover {
		background-color: #e7e7e7;
		color: #333;
		transition: 0.3s linear;
	}

.dropdown:hover .blog-dropdown-items {
	display: block !important;
}

	.dropdown:hover .drop-btn {
		background-color: #e7e7e7;
	}



/***********************HEADER/BANNER STYLES***********************/

.nav-head {
	text-align: center;
	display: block;
	padding-top: 10em;
	background-image: url("images/background.jpg");
	background-size: cover;
	margin:0;
	height: 100vh;
}

	.nav-head h1 {
		font-weight: 500;
		color: slategrey;
		text-shadow: 1px 1px darkgrey;
		font-size: 5em;
		padding-top: 0;
	}

	.nav-head h2 {
		text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
		font-size: 2.25em;
	}

#Home {
	animation: nav-appear 1.5s linear;
}

.social-icons {
	display: block;
}

#avatar {
	max-height: 15em;
	border-radius: 50%;
	border: 10px solid slategrey;
	margin: 1em auto;
	box-shadow: 0 3px 10px 0;
}

@keyframes nav-appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.socials {
	width: 35px;
	height: 35px;
	margin: 0 10px;
}

#LI-social,
#Twit-social {
	transform: translateY(-15px);
}


/***********************ABOUT SECTION STYLES***********************/

#About,
#Contact {
	padding: 0 5em;
}

#About p,
#About li {
	font-size: 1.25em;
}


/***********************CONTACT FORM STYLES***********************/

.contact-form input, 
.contact-form text-area, 
.contact-form button {
	margin: 0.8em 0;
}

.contact-form input {
	width: 50%;
}

	#submit-btn:hover {
		background-color: #bbb;
	}

	#submit-btn:active,
	#submit-btn:focus {
		border-color: #333;
	}


/***********************TOGGLED STYLES***********************/
.drop {
	display: flex !important;
	flex-direction: column;
	align-items: center;
}

.expand {
	height: 11em !important;
}


/***********************RESPONSIVE STYLES***********************/

/*Small Laptop*/
@media screen and (max-width: 1000px) {
	#About,
	#Contact {
		padding: 0 8em;
	}
}

/*Tablet*/
@media screen and (max-width: 768px) {
	section h2 {
		padding-bottom: 1em;
	}
	
	.nav-head {
		background-size: contain;
	}

		.nav-head h1 {
			padding-top: 0;
		}

		.nav-head h2 {
			font-size: 1.5em;
	}

	#avatar {
		margin: 0 auto 0.8em auto;
	}


}

/*Mobile*/
@media screen and (max-width: 575px) {
	#About,
	#Contact {
		padding: 0.5em;
	}

		section h2 {
			padding-top: 2em;
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0.5em;
		}

	.nav-bar {
		flex-direction: column;
		align-items: center;
		height: 3.1em;
	}

		.nav-bar > ul {
			display: none
	}

	.fa-bars {
		display: block;
	}

	.nav-item {
		padding: 0.1em
	}

	#nav-title {
		margin: 0.5em;
	}

	.nav-head h1 {
		padding-top: 1em;
		font-size: 3em;
	}

	.skill-item {
		justify-content: center;
	}

	.skill-text {
		display: none;
	}

	#Contact {
		padding: 0 1em;
	}

	.nav-section:hover,
	.nav-section:focus {
		background-color: inherit
		color: #333;
		transition: 0.3s linear;
	}

}
